@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: #0a192f;
  --accent: #64ffda;
  --cardColor: #122b50;
  --heading: white;
  --titles: black;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg-color);
}
/* /////////     HEADER SECTION */
header {
  position: fixed;
  top: 0; /* Sticks to the top */
  left: 0;
  width: 100%; /* Full width */
  z-index: 1000;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);

  color: var(--heading);
  padding: 20px;
}

.title {
  cursor: pointer;
  width: auto;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
@media screen and (min-width: 1116px) {
  .title {
    margin-left: 4rem;
  }
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0;
}

.title span {
  font-size: 30px;
}
#nav-links {
  position: absolute;
  width: 100%;
  background-color: var(--accent);
  max-height: 0;
  overflow: hidden;
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin-left: 0px;
  font-size: 20px;
  gap: 20px;
  transition: max-height 0.4s ease-in-out;
  top: 80px;
  left: 0;
  right: 0;
}

@media (min-width: 1116px) {
  #nav-links {
    display: flex;
    flex-direction: row;
    max-height: none;
    gap: 20px;
    position: static;
    background: none;
    width: 50%;
  }
}
@media screen and (max-width: 1116px) {
  #nav-links {
    display: flex;
    flex-direction: column;
    max-height: 0;
    gap: 20px;
    position: absolute;
    background-color: var(--accent);
    color: var(--titles);
    width: 100%;
  }
}

@media screen and (max-width: 1116px) {
  #about {
    margin-top: 1rem;
  }
}

#nav-links a {
  color: var(--heading);
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
  transition: 0.3s all;
}

@media screen and (max-width: 1116px) {
  #nav-links a {
    color: var(--titles);
    font-weight: 500;
  }
}

#nav-links a:hover {
  color: var(--accent);
  border-bottom: 1px solid var(--accent);

}

#nav-links button {
  font-weight: bold;
  margin-left: 20px;
  padding: 10px 20px;
  background-color: var(--accent);
  color: var(--titles);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
#nav-links button:hover{
  background-color: #058b6c;
  color: white;
}
#popup {
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.84);

  justify-content: center;
  align-items: center;
}
#OOS {
  width: 200px;
}

@media screen and (max-width: 1116px) {
  #nav-links button {
    background-color: var(--heading);
    color: var(--titles);
    margin-bottom: 1rem;
  }
}
.menu-icon {
  position: relative;
  border: none;
  cursor: pointer;
  display: flex;
  /* border: none; */
  padding: 0;
  width: 2rem;
  height: 1.5rem;
}

@media screen and (min-width: 1116px) {
  .menu-icon {
    display: none;
  }
}

/* ////////////  MAIN SECTION  */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: var(--heading);
  margin-top: 8rem;

  animation: slideFromLeft 1s ease forwards;
  opacity: 0;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-900px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.main-content img {
  object-fit: cover;
  object-position: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid var(--accent);
  animation: float 3s ease-in-out infinite;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px); /* Move upward */
  }
  100% {
    transform: translateY(0px); /* Back to normal */
  }
}
.name {
  width: 100%;
  font-size: 45px;
  font-weight: bold;
  margin: 10px;
}
.passion {
  font-size: 24px;
  color: rgb(136, 131, 131);
  margin: 10px;
}
.desc {
  font-size: 18px;
  color: rgb(136, 131, 131);
  max-width: 600px;
  margin: 0px 10px 10px 10px;
}

/* ////////    SKILLS SECTION   */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--titles);
  margin-top: 4rem;
}
.skills-header {
  color: var(--heading);
  font-size: 2rem;
  margin-bottom: 2rem;
  margin: 50px 0px 20px 0px;
}

.Skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.Skills-title {
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--accent);
  border-radius: 30px;
  padding: 10px 20px;
  transition: 0.2s all;
}
.Skills-title:hover {
  transform: scale(1.19);
}
/* ////////    PROJECT SECTION   */
#header {
  text-align: center;
  color: var(--heading);
  font-size: 2rem;
  padding: 5rem 0rem;
}
.project-cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 800px) {
  .project-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1282px) {
  .project-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card_container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--cardColor);
  transition: 0.3s all;
}
.card_container:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.card_image_container {
  position: relative;
  overflow: hidden;
  height: 14rem;
  width: 21rem;
}
.card_image {
  padding: 1rem;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
#project_title {
  font-size: 1.4rem;
  color: var(--heading);
  padding-left: 1rem;
}
#project_desc {
  font-size: 0.9rem;
  color: rgb(119, 116, 116);
  padding: 0.2rem 0rem 1rem 1rem;
}

/*  ABOUT SECTION */
#about-section {
  width: 100%;
}
.about_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--heading);
  margin-top: 4rem;
  text-align: center;
  padding: 0px 20px 20px 20px;
  gap: 2rem;
}
@media (max-width: 952px) {
  .about_section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0rem;
    background-color: var(--main-bg-color);
    padding: 10px 0px 10px 10px;
  }
}
#about_title {
  text-align: center;
  color: var(--heading);
  font-size: 2rem;
  padding: 5rem 0rem 0rem 0rem;
}
#about_image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-bottom: 5px;
  border: 5px solid var(--accent);
  animation: float 3s ease-in-out infinite;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px); /* Move upward */
  }
  100% {
    transform: translateY(0px); /* Back to normal */
  }
}
.about_desc {
  overflow: wrap;
  color: var(--heading);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  margin: 3rem 8rem;
  gap: 2rem;
}
@media (min-width: 800px) {
  .about_desc {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1282px) {
  .about_desc {
    grid-template-columns: repeat(3, 1fr);
  }
}

.div1,
.div2,
.div3 {
  display: flex;
  min-width: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  padding: 1rem;
  border-radius: 10px;
  transition: 0.3s all;
}
.div1:hover {
  transform: scale(1.1);
}
.div2:hover {
  transform: scale(1.1);
}
.div3:hover {
  transform: scale(1.1);
}

#logo_id {
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 19rem;
}
#logo_id3 {
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 19rem;
}

#about_desc {
  font-size: 1.2rem;
  color: rgb(136, 131, 131);
  max-width: 850px;
}
/*   form section */
.form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  color: var(--heading);
}

.contact_title {
  text-align: center;
  color: var(--heading);
  font-size: 2rem;
  padding: 5rem 0rem 2rem 0rem;
}
label {
  font-size: 1.2rem;
  padding: 2rem 0rem 0rem 0rem;
}
input,
textarea {
  width: 600px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: none;
  border: transparent;
  font-size: 1rem;
}
@media (max-width: 662px) {
  input,
  textarea {
    width: 350px;
  }
}
textarea {
  height: 150px;
  margin: 0rem 0rem 2rem 0rem;
  resize: vertical;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}
.error {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  color: red;
}
#submit {
  font-weight: bold;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background-color: var(--accent);
  color: var(--titles);
  cursor: pointer;
}
/* //////////    FOOTER SECTION    */

.footer {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--heading);
  background-color: var(--main-bg-color);
  border-top: 1px solid #333232;
  margin-top: 6rem;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.social-icons img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 1rem 0rem 1rem 0rem;
}

.footer-text {
  font-size: 1rem;
  color: rgb(136, 131, 131);
}
